# ---------- R ----------
**/renv/library/
**/renv/staging/
**/.Rhistory
**/.RData

# ---------- Python ----------
**/.venv/
**/venv/
**/__pycache__/
**/*.pyc

# ---------- OS ----------
.DS_Store
Thumbs.db
